<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'></meta>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script type='text/javascript' src='js/vue.js'></script>
    <script type='text/javascript' src='js/axios.js'></script>
</head>

<body>

    <h2> Canary </h2>

    <div id="app">
        <canary-song v-for="item in songs"
                     v-bind:song="item"
                     v-bind:key="item.id">
        </canary-song>
        <button id="refresher" v-on:click="fetchAll">Refresh</button>
        <button id="toggleexpand" v-on:click="toggleAll">Toggle</button>
    </div>

    <template id="canary-template">
       <div class="song"
            v-on:click="song.isActive = !song.isActive"
            v-bind:class="{ active : song.isActive, late: song.isLate }">
           <span v-if="!song.isActive"> {{ song.id }} </span>
           <div v-if="song.isActive">
               <table>
                   <tr><th>id</th><td> {{ song.id }} </td></tr>
                   <tr><th>next</th><td> {{ song.next }} </td> </tr>
                   <tr><th>last</th><td> {{ song.last }} </td></tr>
                   <tr><th>host</th><td> {{ song.ipAddr }} </td></tr>
               </table>
            </div>
       </div>
    </template>

    <script type="text/javascript">

        Vue.component(
            'canary-song', {
                props: ['song'],
                template: '#canary-template',
                methods: {
                    toggleActive: function () {
                        console.log(this);
                    }
                }
            }
        );


        function reloadSong(song){

            var delta = song.nextDate.getTime() - Date.now();
            
            song.delayId = window.setTimeout(function(obj){
                axios.get('api/canary/'+obj.id)
                    .then(function (response) {
                        
                        obj.next = response.data.next;
                        obj.last = response.data.last;
                        obj.ipAddr = response.data.ipAddr;

                        obj.isLate = obj.calcLate();

                        if(!obj.isLate){
                            reloadSong(obj);
                        }

                    }).catch(function (error) {
                        console.log(error);
                    });
            }, delta, song);
        }


        function calcLate(){
            //this.nextDate = new Date(this.next + ":00Z");
            this.nextDate = new Date(this.next);
            return this.nextDate.getTime() < Date.now();
        }


        function extendDbObj(fromDb){

            fromDb.isActive = false;
            fromDb.calcLate = calcLate;
            fromDb.isLate = fromDb.calcLate();
            
            if(!fromDb.isLate){
                reloadSong(fromDb);
            }
            
            return fromDb;
        };


        var app = new Vue(
            {
                el: "#app",
                data: {
                    songs: []
                },
                mounted: function(){
                    console.log("init..");
                    this.fetchAll();
                },
                beforeDestroy: function(a){
                    this.removeTimeoutAll(a);
                },
                methods: {
                    fetchAll: function (a) {
                        var that = this;
                        that.removeTimeoutAll(a);
                        axios.get('api/canary')
                            .then(function (response) {
                                that.songs = [];
                                for (var i = 0; i < response.data.length; i++) {
                                    that.songs.push( extendDbObj(response.data[i]) );
                                }
                            }).catch(function (error) {
                                console.log(error);
                            });
                        },
                    toggleAll: function (a) {
                        var that = this;
                        var collapse = false;
                        for (var i = 0; i < that.songs.length; i++) {
                            if(that.songs[i].isActive){
                                collapse = true;
                                break;
                            }
                        }
                        that.songs.forEach(function(e){ e.isActive = !collapse; });
                    },
                    removeTimeoutAll: function(a){
                        var that = this;
                        for (var i = 0; i < that.songs.length; i++) {
                            if(that.delayId){
                                window.clearTimeout(that.delayId);
                            }
                        }
                    }
                }
            }
        );

    </script>

</body>
</html>
